<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SQL Intro Omega</title>
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/sqlIntro.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/genero.css">
  </head>
  <body>
    <h1>SQL Intro Omega</h1>
    <div>
      <h2>Add New Image</h2>
      <input type='text' placeholder="description" id='descriptionIn' />
      <input type='text' placeholder="url" id='urlIn' />
      <button id='addImageButton'>Add Image</button>
    </div>
    <h2>Existing Images</h2>
    <div id='outputDiv'>
      Images will go here...
    </div>
  </body>
</html>
